{% extends 'mamoisson/base.html' %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Weather condition</h1>
          <p class="lead">To add a new weather condition you need to add the name and an url of the picture of the weather condition into the form.
            Please add the name, the audio file url, the image url of the crop.</p>

            <p> Warning, it is important that the audio files are in WAVE format. The WAVE file must have a sample rate of 8KHZ, 16 bit, mono, codec: PCM 16 LE (s16I).
              Otherwise the voice application cannot play the audio file.</p>
      </div>
    </div>
        <div class="container">
            <form method="POST" action="">
                {% csrf_token %}

                {{ form.non_field_errors}}
                {% load widget_tweaks %}

                <div class="form-group row">
                    {{weather.name.errors}}
                    <label for="{{ weather.name.id_for_label }}">Weather Condition</label>
                    {{ weather.name|add_class:"form-control" }}
                </div>

                <div class="form-group row">
                    {{weather.image_url.errors}}
                    <label for="{{ weather.image_url.id_for_label }}">URL image</label>
                    <a href="#" data-toggle="popover" data-placement="right" data-content="Only images with 800*800 pixels">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    {{ weather.image_url|add_class:"form-control" }}
                </div>

                   <div class="form-group row">
                        {{weather.voice_label.errors}}
                        <label for="{{ weather.voice_label.id_for_label}}">Audio</label>
                   <a href="#" data-toggle="popover" data-placement="right" data-content="
                        The WAVE file must have a sample rate of 8KHZ, 16 bit, mono, codec: PCM 16 LE (s16I).
                        Otherwise the voice application cannot play the audio file.">
                        <i class="fas fa-info-circle"></i>
                    </a>
                        {{ weather.voice_label|add_class:"form-control" }}
                       <a href="/service_development/voicelabel/"><i class="fas fa-plus-circle"></i></a>
                    </div>

                <div class="form-group row">
                    <input type="submit" class="btn btn-success" value="Submit">
                </div>

            </form>

            <div class="form-group row">
                <a href="/vxml/add/crop"><button class="btn btn-info"><i class="fas fa-chevron-circle-left"></i> Go Back</button></a>
            </div>
        </div>
{% endblock %}
