{% extends 'mamoisson/base.html' %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Edit crop</h1>
          <p class="lead">To edit this crop you need to add all the information in the form.
              Please add the name, description, voice label of the crop and the related category, fertilizers and tutorial.</p>

           <!--<a href="/vxml/add/fertilizer/"><button type="button" class="btn btn-info"><i class="fas fa-plus"></i> Add Fertilizer</button></a>-->
          <!--<a href="/vxml/add/category/"><button type="button" class="btn btn-info"><i class="fas fa-plus"></i> Add Category</button></a>-->
          <!--<a href="/vxml/add/tutorial/"><button type="button" class="btn btn-info"><i class="fas fa-plus"></i> Add Tutorial</button></a>-->
      </div>
    </div>
        <div class="container">
            <form method="POST">
                {% csrf_token %}

                {{ form.non_field_errors}}
                {% load widget_tweaks %}


                <div class="form-group row">
                    {{crop.name.errors}}
                    <label for="{{ crop.name.id_for_label }}">Crop</label>
                    {{ crop.name|add_class:"form-control" }}
                </div>

                <div class="form-group row">
                    {{crop.description.errors}}
                    <label for="{{ crop.description.id_for_label }}">Description</label>
                    {{ crop.description|add_class:"form-control" }}
                </div>


                <div class="form-group row">
                    {{crop.img_url.errors}}
                    <label for="{{ crop.img_url.id_for_label }}">URL image</label>
                    <a href="#" data-toggle="popover" data-placement="right" data-content="Only images with 800*800 pixels">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    {{ crop.img_url|add_class:"form-control" }}
                </div>

                <div class="form-group row">
                    {{crop.voice_label.errors}}
                    <label for="{{ crop.voice_label.id_for_label}}">Audio</label>
                    <a href="#" data-toggle="popover" data-placement="right" data-content="
                    The WAVE file must have a sample rate of 8KHZ, 16 bit, mono, codec: PCM 16 LE (s16I).
                    Otherwise the voice application cannot play the audio file.">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    {{ crop.voice_label|add_class:"form-control" }}
                    <p><a href="/service_development/voicelabel/">Click on <i class="fas fa-plus-circle"></i> to add a voice label</a></p>
                </div>


                <div class="form-group row">
                    {{crop.category.errors}}
                    <label for="{{ crop.category.id_for_label}}"><a href="/vxml/mamoisson/category/">Category</a></label>
                    {{ crop.category|add_class:"form-control" }}
                    <p><a href="/vxml/mamoisson/category/add/">Click on <i class="fas fa-plus-circle"></i> to add a category</a></p>
                </div>

                <div class="form-group row">
                    {{crop.fertilizers.errors}}
                    <label for="{{ crop.fertilizers.id_for_label}}"><a href="/vxml/mamoisson/fertilizer/">Fertilizer</a></label>
                    <a href="#" data-toggle="popover" data-placement="right" data-content="Select the fertilizer you want with CRL on Windows of CMD on Mac">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    {{ crop.fertilizers|add_class:"form-control" }}
                    <p><a href="/vxml/mamoisson/fertilizer/add/">Click on <i class="fas fa-plus-circle"></i> to add more fertilizers</a></p>
                </div>

                <div class="form-group row">
                    {{crop.tutorial.errors}}
                    <label for="{{ crop.tutorial.id_for_label}}"><a href="/vxml/mamoisson/tutorial/">Tutorial</a></label>
                    {{ crop.tutorial|add_class:"form-control" }}
                    <p><a href="/vxml/mamoisson/tutorial/add/">Click on <i class="fas fa-plus-circle"></i> to add a tutorial</a></p>
                </div>

                   <input type="submit" class="btn btn-success" value="Submit">

            </form>

            <div class="form-group row">
                <a href="/vxml/mamoisson/"><button class="btn btn-info"><i class="fas fa-chevron-circle-left"></i> Go Back</button></a>
            </div>

        </div>

{% endblock %}
