
{% extends 'mamoisson/base.html' %}


{% block content %}

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">
            MaMoisson Tutorials
        </h1>
        <p class="lead">On this webpage you can different tutorials of the versions of our voice application.</p>

      </div>
    </div>


    <div class="container">
         <div>
            <div>
                <h2 class="text-center p-3 mb-2 bg-info text-white ">Version 1</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6  col-sx-12">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6  col-sx-12">
                    <h5 class="text-center">MaMoisson ENG Voice Application</h5>
                    <iframe src="https://www.youtube.com/embed/H-VjRitC0v4" frameborder="10" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6  col-sx-12">
                </div>
            </div>
        </div>

         <div>
            <div>
                <h2 class="text-center p-3 mb-2 bg-info text-white ">Version 2</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6  col-sx-12">
                    <h5 class="text-center">MaMoisson ENG Voice Application</h5>
                    <audio preload="auto" tabindex="0" controls="" >
                        <source src="https://django-static.vps.abaart.nl/group3/django/admin/voice_app/Audio%20vioce%20app%20English.m4a">
                    </audio>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6  col-sx-12">
                    <h5 class="text-center">MaMoisson FR Voice Application</h5>
                    <iframe src="https://www.youtube.com/embed/B9743EgIluQ" frameborder="10" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6  col-sx-12">
                    <h5 class="text-center">MaMoisson Web Application</h5>
                    <iframe src="https://youtube.com/embed/o9Lt0LOtH8g" frameborder="10" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div>
            <div>
                <h2 class="text-center p-3 mb-2 bg-info text-white ">Version 3</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6  col-sx-12">
                    <h5 class="text-center">MaMoisson ENG Mango & Cassave</h5>
                    <iframe src="https://www.youtube.com/embed/2JsukPKzRfE" frameborder="10" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6  col-sx-12">
                    <h5 class="text-center">MaMoisson FR Mango</h5>
                    <iframe src="https://www.youtube.com/embed/gJMUADYOz2Q" frameborder="10" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6  col-sx-12">
                    <h5 class="text-center">MaMoisson Web Application</h5>
                    <iframe src="https://www.youtube.com/embed/2JsukPKzRfE" frameborder="10" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
     <div class="form-group row">
         <a href="/vxml/mamoisson/"><button class="btn btn-info"><i class="fas fa-chevron-circle-left"></i> Go Back</button></a>
     </div>

    </div>
{% endblock %}
