<html>

<header>
     <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">

<!--</header>-->

    <body>

    <div class="jumbotron jumbotron-fluid">
          <div class="container">
              <div class="row">
                <div class="col-lg-8">

                          <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarousel" data-slide-to="1"></li>
                              <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <div class="item active">
                                  <img class="img-thumbnail" src="{{ fertilizer.crop_list.crop_img_url }}" alt="Card image cap">
                              </div>

                              <div class="item">
                                  <img class="img-thumbnail" src="{{ fertilizer.weather_condition_list.weather_image_url }}" alt="Card image cap">
                              </div>

                              <div class="item">
                                  <img class="img-thumbnail" src="{{ fertilizer.fertilizer_image_url }}" alt="Card image cap">
                              </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                </div>
                <div class="col-lg-4">
                    <h2  class="display-4">{{ fertilizer.fertilizer_name|capfirst }}</h2>
                    <p class="card-text">{{ fertilizer.description }}</p>

                     <div class="card-body">
                         <ul class="list-group">
                             <!--Fertilizer-->
                              <li class="list-group-item"><strong>Fertilizer:</strong> {{ fertilizer.fertilizer_name|capfirst }}
									<audio preload="auto" tabindex="0" controls="" >
									<source src="{{ fertilizer.fertilizer_audio_url}}">
									</audio>
                              </li>
                              <!--Crop-->
                              <li class="list-group-item"><strong>Crop:</strong> {{ fertilizer.crop_list.crop_name|capfirst }}
                                    <audio preload="auto" tabindex="0" controls="" >
									<source src="{{ fertilizer.crop_list.crop_audio_url }}">
									</audio>
                                </li>

                              <!--Weather Conditions-->
                                <li class="list-group-item"><strong>Weather condition:</strong> {{ fertilizer.weather_condition_list.weather_condition|capfirst }}
                                    <audio preload="auto" tabindex="0" controls="" >
									<source src="{{ fertilizer.weather_condition_list.weather_audio_url }}">
									</audio>
                                </li>
                        </ul>

                     </div>

                </div>
              </div>
              <a href="/vxml/fertilizer/"><button type="button" class="btn btn-info"><i class="fas fa-chevron-circle-left"></i> Go Back</button></a>
              <a href="/vxml/fertilizer/{{ fertilizer.id }}/edit/"> <button type="button" class="btn btn-warning">Edit</button></a>

          </div>
        </div>
    <div class="container">
        <h1>Tutorial of {{ fertilizer.fertilizer_name }}</h1>
        </br>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/249655790&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>    </div>

    </body>
</html>
